
body
{
    background-color: rgb(45, 27, 61);
}
.lien
{
    position: absolute;
    right: 50px;
    top: 40px;
    word-spacing: 20px;
    font-size: 18px;
}
a
{
   text-decoration: none;
   color: black;
}
.tete
{
    background-color: white;
    width: 100%;
    height: 90px;
}
.logo
{
    position: absolute;
    left: 100px;
    top: 30px;
}
.titre
{
    position: absolute;
    left: 100px;
    top: 160px;
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
    color: rgb(208, 162, 250);
    letter-spacing: 3px;
    
}
.image
{
    position: absolute;
    right: 100px;
    top: 180px;
}
em
{
    color: rgb(208, 162, 250);
    font-family: 'Heebo', sans-serif;
}
.box1:hover
{
    border-bottom: 2px solid black;
}
.box2:hover
{
    border-bottom: 2px solid black;
}
.box3:hover
{
    border-bottom: 2px solid black;
}
 p
 {
    position: absolute;
    bottom: 100px;
    left: 100px;
    color: white;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
 } 
  .couleurlien2
  {
    position: absolute;
    bottom: 30px;
    left: 130px;
    background-color: rgb(83, 171, 205);
    height: 60px;
    width: 250px;
    border-radius: 30px;
  }
  .lien2
 {
    position: relative;
    top: 20px;
    left: 25px;
    color: white;
 } 
 .couleurlien2:hover
 {
    background-color: rgb(28, 105, 136);
 }

  